@import "../../assets/css/_settings.css";

.footer {
    bottom: 0;
    height: $footer-height;
    line-height: $footer-height;
    border-top: 1px solid $border-color;
    text-align: center;
    color: #909090;
}
